:root {
  /* Primary */
  --color-red: hsl(0, 100%, 67%);
  --color-orange: hsl(39, 100%, 56%);
  --color-green :hsl(166, 100%, 37%);
  --color-blue :hsl(234, 85%, 45%);

  /* Gradients */
  --gradient-slateblue: hsl(252, 100%, 67%);
  --gradient-royalblue: hsl(241, 81%, 54%);
  --gradient-violetblue: hsla(256, 72%, 46%, 1);
  --gradient-persianblue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-paleblue: hsl(221, 100%, 96%);
  --color-lightlavender: hsl(241, 100%, 89%);
  --color-darkgrayblue: hsl(224, 30%, 27%);

  /* Fonts */
  --font-family: 'Hanken Grotesk', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;

  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-paleblue);
}